.btn {
  width: fit-content;
  margin: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;

  border-width: 0;
  border-radius: 1.25rem;
  padding: 0.5rem 1.5rem;

  &.purple {
    background-color: var(--button-primary);

    & > .btn-text {
      color: var(--white);
    }

    &:hover {
      background-color: var(--button-primary-hover);
    }
  }

  &.white {
    box-shadow: 0 0 0 1px var(--button-secondary); /* All the borders by using the spread properties */
    background-color: var(--white);

    & > .btn-text {
      color: var(--brand-primary);
    }

    &:hover {
      background-color: var(--button-secondary-hover);
    }
  }

  &.size--large {
    border-radius: 2.5rem;
    padding: 0.75rem 2rem;
  }

  &.loading {
    cursor: not-allowed !important;
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.2 !important;
  }

  &:focus {
    box-shadow: 0 0 0 3px #E6E0FB;
  }
}

.btn-text {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

.rotate {
  animation: rotation 1.25s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
